---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
   <div class="container">
   <div class="content">
       {{ content }}
   </div>
   <div class="sidebar">
       <h2>Menu de Navegação</h2>
       <ul>
           <li><a href="README.md">Página Inicial</a></li>
           <li><a href="instalations.md#como-criar-uma-conta-no-github">Como Criar uma Conta no GitHub</a></li>
           <li><a href="instalations.md#instalação-do-nodejs-lts">Instalação do Node.js LTS</a></li>
           <li><a href="instalations.md#instalação-do-git-no-windows">Instalação do Git no Windows</a></li>
           <li><a href="class%20(1)%2028-09-2023.md">Aula 1 (28-09-2023)</a>
               <ul>
                   <li><a href="class%20(1)%2028-09-2023.md#lógica-de-programação-fritando-um-ovo">Lógica de Programação: Fritando um Ovo</a></li>
                   <li><a href="class%20(1)%2028-09-2023.md#criação-do-projeto-nodejs-no-replit">Criação do Projeto Node.js no Replit</a></li>
               </ul>
           </li>
           <li><a href="class%20(2,3,4,5)%20from%2029-08-2023%20to%2001-09-2023.md">Aula 2, 3, 4 e 5 (29-08-2023 a 01-09-2023)</a>
               <ul>
                   <li><a href="class%20(2,3,4,5)%20from%2029-08-2023%20to%2001-09-2023.md#aula-de-lógica-de-programação-criando-um-jogo-similar-ao-dinossauro-do-chrome-no-scratch">Aula de Lógica de Programação: Criando um Jogo Similar ao Dinossauro do Chrome no Scratch</a></li>
               </ul>
           </li>
           <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md">Aula 6, 7, 8, 9, 10 (04-09-2023 a 12-09-2023)</a>
               <ul>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-lógica-de-programação-com-portugol-">Lógica de Programação com Portugol</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-instalação-do-portugol-studio">Instalação do Portugol Studio</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-lógica-de-programação-simplificada">Lógica de Programação Simplificada</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#️-funcionamento-do-portugol-studio">Funcionamento do Portugol Studio</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-entrada-e-saída-de-dados">Entrada e Saída de Dados</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-variáveis">Variáveis</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-operadores-aritméticos">Operadores Aritméticos</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-estruturas-condicionais">Estruturas Condicionais</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-vetores">Vetores</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-estruturas-de-repetição">Estruturas de Repetição</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#exercícios-de-programação">Exercícios de Programação</a></li>
                   <li><a href="class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#projeto">Projeto Jogo de Adivinhação</a></li>
               </ul>
           </li>
       </ul>
   </div>
</div>

</body>
</html>
