---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <div class="content">
            {{ content }}
        </div>
        <div class="sidebar">
            # Menu de Navegação

- [Página Inicial](README.md)
- [Como Criar uma Conta no GitHub](instalations.md#como-criar-uma-conta-no-github)
- [Instalação do Node.js LTS](instalations.md#instalação-do-nodejs-lts)
- [Instalação do Git no Windows](instalations.md#instalação-do-git-no-windows)
- [Aula 1 (28-09-2023)](class%20(1)%2028-09-2023.md)
  - [Lógica de Programação: Fritando um Ovo](class%20(1)%2028-09-2023.md#lógica-de-programação-fritando-um-ovo)
  - [Criação do Projeto Node.js no Replit](class%20(1)%2028-09-2023.md#criação-do-projeto-nodejs-no-replit)
- [Aula 2, 3, 4 e 5 (29-08-2023 a 01-09-2023)](class%20(2,3,4,5)%20from%2029-08-2023%20to%2001-09-2023.md)
  - [Aula de Lógica de Programação: Criando um Jogo Similar ao Dinossauro do Chrome no Scratch](class%20(2,3,4,5)%20from%2029-08-2023%20to%2001-09-2023.md#aula-de-lógica-de-programação-criando-um-jogo-similar-ao-dinossauro-do-chrome-no-scratch)
- [Aula 6, 7, 8, 9, 10 (04-09-2023 a 12-09-2023)](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md)
  - [Lógica de Programação com Portugol](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-lógica-de-programação-com-portugol-)
  - [Instalação do Portugol Studio](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-instalação-do-portugol-studio)
  - [Lógica de Programação Simplificada](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-lógica-de-programação-simplificada)
  - [Funcionamento do Portugol Studio](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#️-funcionamento-do-portugol-studio)
  - [Entrada e Saída de Dados](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-entrada-e-saída-de-dados)
  - [Variáveis](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-variáveis)
  - [Operadores Aritméticos](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-operadores-aritméticos)
  - [Estruturas Condicionais](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-estruturas-condicionais)
  - [Vetores](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-vetores)
  - [Estruturas de Repetição](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#-estruturas-de-repetição)
  - [Exercícios de Programação](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#exercícios-de-programação)
  - [Projeto Jogo de Adivinhação](class%20(6,7,8,9,10)%20from%2004-09-2023%20to12-09-2023.md#projeto)
        </div>
    </div>
</body>
</html>
